h5{
    color: black !important;
}

.card-para{
    color: black;
}

.project{
    padding-left: 6rem;

}

@media screen and (max-width:576px) {

    html{
        font-size: 55%;
    }

    .project{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}