strong{
    font-size: 1.4rem;
}

p{
    font-size: 1.3rem;
}

.after-name{
    margin-bottom: 1rem !important;
}

.skill{
    border: 1px solid white;
    padding: .6rem;
    margin-left: 1rem;
    border-radius: 10px;
}


@media screen and (max-width:576px) {
    html{
        font-size: 30% ;
    }

    #aboutme{
        padding-left: 6rem ;
        padding-right: 8rem;
    }
}