strong{
    font-size: 1.9rem;
}

p{
    font-size: 1rem;
}

.after-name{
    margin-bottom: 1rem !important;
}

.skill{
    border: 1px solid white;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 10px;
}


@media screen and (max-width:576px) {
  
    strong{
        font-size: 2.2rem;
    }

    p{
        font-size: 2rem;
    }

    .fs-2{
        font-size: 2.8rem !important;
    }

    .skill{
        font-size: 1.5rem;
        padding: 1rem 1rem ;
    }
    
    #aboutme{
        padding-left: 6rem ;
        padding-right: 8rem;
    }
}