body{
    background-color: #2b2f32;
    color: #73F8BB;
}

.first-half{
    color: white;
    padding-top: 7rem;
}

#profile{box-shadow: -2px 2px 18px 0px rgba(0,0,0,0.999);
margin-top: 2.2rem;
color:  #262a2d !important;
border-radius: 90% 50% 20% 60%;
margin-left: 3rem
}


.main-line{
    margin-left: 1rem ;
    border: .2px solid #ffff;
    border-radius: 10px;
    padding: .5rem;
    color: #73F8BB;
}

h1{
    font-size: 3rem;
}

@media screen and (max-width:576px) {

   html{
       font-size: 40%;
   }

   #profile{
       margin-left: 0;
       border-radius: 90% 50% 20% 60%;

   }

 .first-half{
     padding-left: 4rem;
     margin-bottom: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .main-line{
     margin-bottom: 4.3rem!important;
 }
}