.navbar {
  background-color: #2b2f32 !important;
  padding: 2rem 7.4rem !important;
  position: relative;
}

li > a {
  color: #69f1ac;
}

li > a :hover {
  color: #ffff !important;
}

@media screen and (min-width: 578px) and (max-width: 768px) {
  .navbar {
    padding: 2rem 0rem !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 3rem 5rem !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.9rem;
  }

  .navbar-toggler-icon{
font-size: 2rem;
  }
}
